#btborrar{
	background-color:#000000;
	color:#ffffff;
}
#botoncomparacion{
	background-color:#000000;
	color:#ffffff;
}
#num1{
	background-color:#ffff00;
	color:#000000;
}
#num2{
	background-color:#ffff00;
	color:#000000;
}
#num3{
	background-color:#ffff00;
	color:#000000;
}
#num4{
	background-color:#ffff00;
	color:#000000;
}
.tabla{
	background-color:#00ffff;
}
#botondecre{
	background-color:#000000;
	color:#ffffff;
}