.tabla{
	background-color:#33ccff;
}
#producto1{
	background-color:#ffff00;
	color:#000000
}
#producto2{
	background-color:#ffff00;
	color:#000000
}
#producto3{
	background-color:#ffff00;
	color:#000000
}
#total{
	background-color:#ffff00;
	color:#000000
}
#bt_total{
	background-color:#000000;
	color:#ffffff;
}
#btborrar{
	background-color:#000000;
	color:#ffffff;
}